.winner{
    color:darkgreen;
}

body{
    background-color: coral;

}
#heading{
    font-family: monospace;
    text-align: center;
    
}
.jumbotron{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    padding: 30px;
    background-color: aquamarine;
}
